<h1><%= @user.name %>'s Profile</h1>

<% if !@user.avatar.nil? %>
  <%= image_tag(@user.avatar)%>
<% end %>

<p>Website: <%= link_to(@user.website) unless @user.website.nil? %></p>

<h3>User Bio:</h3>
<p><%= @user.bio %></p>
<h3>Works:</h3>
