<h1>Upcoming Events</h1>
<%= link_to "New Event", new_event_path %>  <%= link_to "View Past Events", past_events_path %>
<br>
<%= button_tag 'New Event', type: 'button', class: "btn btn-outline-primary", id: "js-new-event" %>
<div  class="container">
  <div class="row">
    <div class=""></div>
    <div class="col-12">
      <div id="js-new-event-form" class="position-absolute"></div>
    </div>
    <div class=""></div>
  </div>
</div>
<%= render "table", :events => @events %>
