<h1>Upcoming Events</h1>
<%= link_to "New Event", new_event_path %>  <%= link_to "View Past Events", past_events_path %>
<br>
<%= button_tag 'New Event', type: 'button', class: "btn btn-outline-primary", id: "js-new-event" %>
<div  class="container">
  <div class="row">
    <div class=""></div>
    <div class="col-12">
      <div id="js-new-event-form" class="position-absolute"></div>
    </div>
    <div class=""></div>
  </div>
</div>
<%= render "table", :events => @events %>


<script id="table-row-template" type="text/x-handlebars-template">
  <tr>
    <td><img class="star" id="star-{{id}}" data-id="{{id}}" data-state="0" src="/assets/star-blank32.png" /></td>
    <td><img src="{{imageUrl}}" /></td>
    <td><a href="/events/{{id}}">{{name}}</a></td>
    <td>{{startTime}}</td>
    <td>{{endTime}}</td>
    <td>{{venue}}</td>
    <td>{{acceptingApplications}}</td>
    <td id="js-user-count-{{id}}">{{userCount}}</td>
  </tr>
</script>
