<h1>Upcoming Events</h1>
<%= link_to "New Event", new_event_path %>  <%= link_to "View Past Events", past_events_path %>
<br>
<%= button_tag 'New Event', type: 'button', class: "btn btn-outline-primary", id: "js-new-event" %>

<div id="js-new-event-form"></div>

<%= render "table", :events => @events %>
